<style>

<<<<<<< HEAD
      body {
      	background-size: 100% 100%;
      	background-repeat: no-repeat;
      	background-position: center center;
      	background-attachment: fixed;
      }

=======
	  body {
    	/*background-image: url("file:///Z:/broodcoffee.github.io/images/download.jpg"); 
    	background-image: url("file:///C:/Users/Lenovo/Desktop/CITCS/ITE3/Lab/broodcoffee.github.io/images/download.jpg");
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
    	background-attachment: fixed;*/
	  }
>>>>>>> 4da0aec7a9eeca4f53bf9a6f34cdd5838d9cfa84

	  h1, h3 {
	    text-align: center;
	    padding: 10px;
	    font-weight: bold;
<<<<<<< HEAD
	    opacity: 1;
	  }

	  h4, p {
	    text-align: center;
	    padding: 10px;
	    opacity: 1;
	  }

	  .transbox {
	  	margin: 0;
    	background-color: rgba(255,255,255,0.6);
	  }

=======
	  }

	   h4, p {
	    text-align: center;
	    padding: 10px;
	  }

	  .nav navbar-nav {
    	background-color: #ddd;
	  }
	  
>>>>>>> 4da0aec7a9eeca4f53bf9a6f34cdd5838d9cfa84
	  #vidz {
	  	display: block;
        margin: auto;
	  	text-align: center;
	  	padding: 10px;
	  }
<<<<<<< HEAD
		.thick-black-border {
=======

	  .thick-black-border {
>>>>>>> 4da0aec7a9eeca4f53bf9a6f34cdd5838d9cfa84
	    border-color: black;
	    border-width: 10px;
	    border-style: solid;
	  }

	  .imahen {
	    width: 150px;
	    border-radius: 50%;
	    margin: auto;
	  	display: block;
<<<<<<< HEAD
	  }

	  .wallpaper {
	  	object-position: relative;
	    width: 100%;
	    height: 100%;
	    margin: auto;
	  	display: block;
	  	opacity: 0.5
=======
>>>>>>> 4da0aec7a9eeca4f53bf9a6f34cdd5838d9cfa84
	  } 

	  .navbar-brand {
	    font-weight: bold;
	  } 

	  .itemz {
<<<<<<< HEAD
=======
	  	text-align: justify;
>>>>>>> 4da0aec7a9eeca4f53bf9a6f34cdd5838d9cfa84
	  	display: block;
        margin: auto; 
	  	padding: 10px;
	  	list-style-type: none; 
	  	text-align: center;
	  } 

  	  .lista, .cont {
        margin: auto;
		text-align: justify-all;
	  } 

	</style>